.btn {
&.btn-blue {
  background-color: #0288d1 !important;
  &:hover, &:focus, &.focus {
    color: @white
  }
}

&.btn-white {
  background-color: @white !important;
  color: @black;
  &:hover, &:focus, &.focus {
    color: @black
  }
}
  &.btn-marging {
    margin-right: 10px;
  }
}


.buttons-panel {
  margin-top: 40px;
}
