<div id="wrapper" ng-controller="appController" ng-class="{'toggled': !toggled}">

    <div id="page-content-wrapper">
        <div class="header-wrapper">
            <div class="nav-bar clearfix" id="header">
                <h1 id="title"><span class="title-icon" ng-show="view.page.previos" ng-click="goToPrevios()">
            <span class="sr-only">Go to previos page</span></span>{{view.page.title}}</h1>
                <span class="forging-state" ng-show="view.forgingState">{{view.forgingState}}</span>

                <div id="top-menu" class="valign-wrapper">
                <span id="balance">
                {{unconfirmedBalance | xcrFilter}} XCR
            </span>
                    <a class="btn btn-sky-blue waves-effect waves-light left-margin-20" ng-click="sendCrypti()"><i
                            class="mdi-content-send left"></i>SEND
                    </a>
                    <div class="more-down left-margin-20" dropdown is-open="moreDropdownStatus.isopen">
                        <i class="mdi-navigation-more-vert" dropdown-toggle></i>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="passphrase">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="search-bar" ng-show="view.bar.showTransactionsSearchBar">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="mdi-action-search"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Search for transactions (Transaction ID, Sender address, Recipient address)"
                           ng-model="searchTransactions.searchForTransaction">
                       <span class="input-group-addon spinner-addon">
                            <div class="preloader-wrapper active" ng-if="searchTransactions.inSearch">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                    </span>
                </div>
            </div>

            <div class="search-bar" ng-show="view.bar.showBlockSearchBar">
                <div class="input-group">
                    <span class="input-group-addon"><i class="mdi-action-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search for blocks"
                           ng-model="searchBlocks.searchForBlock">
                         <span class="input-group-addon spinner-addon">
                            <div class="preloader-wrapper active" ng-if="searchBlocks.inSearch">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                    </span>
                </div>
            </div>

            <div id="page-nav" class="forging clearfix" ng-if="view.bar.forgingMenu">
                <ul class="nav nav-underline  pull-left">
                    <li ui-sref-active="active"><a ui-sref="main.forging">Forging</a></li>
                    <li ui-sref-active="active"><a ui-sref="main.delegates">Delegates</a></li>
                    <li ui-sref-active="active"><a ui-sref="main.votes">My votes ({{myVotesCount||'0'}})</a>
                    </li>
                </ul>
                <ul class="nav nav-underline pull-right registration" ng-show="!delegate.username">
                    <li><a class="bold-text" ng-click="registrationDelegate()">delegate registration</a></li>
                </ul>
            </div>
            <div id="page-nav" ng-if="view.bar.showWalletBar">
                <ul class="nav nav-underline pull-left">
                    <li ui-sref-active="active"><a ui-sref="main.multi">Wallets</a></li>
                    <li ui-sref-active="active"><a
                                                   ui-sref="main.multiPendings">Pending(5)</a></li>
                </ul>
            </div>
            <div id="page-nav" ng-if="view.bar.showContactsBar">
                <ul class="nav nav-underline pull-left">
                    <li ui-sref-active="active"><a ui-sref="main.contacts">Contacts</a></li>
                    <li ui-sref-active="active"><a
                                                   ui-sref="main.pending">Pending({{contacts.followersCount}})</a></li>
                </ul>
                <a ng-click="addContact()" class="btn-floating btn-large waves-effect waves-light green" style="
    position: absolute;
    right: 30px;
  top: 96px;
"><i class="mdi-content-add"></i></a>
            </div>
        </div>
        <div class="container-fluid" ui-view></div>

    </div>
</div>

<!-- /#page-content-wrapper -->
<script type="text/ng-template" id="custom/pager">
    <ul class="pagination ng-table-pagination">
        <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}" ng-repeat="page in pages"
            ng-switch="page.type">
            <a ng-switch-when="prev" ng-click="params.page(page.number)" href=""><i
                    class="mdi-hardware-keyboard-arrow-left"></i></a>
            <a ng-switch-when="first"
               ng-click="params.page(page.number)" href=""><span
                    ng-bind="page.number"></span></a>
            <a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
            <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>
            <a ng-switch-when="last"
               ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
            <a ng-switch-when="next" ng-click="params.page(page.number)" href=""><i
                    class="mdi-hardware-keyboard-arrow-right"></i></a>
        </li>
    </ul>
</script>
</div>
<st-blurred-dialog-overlay></st-blurred-dialog-overlay>


