<div class="top-margin"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default" ng-class="{'paginated': countForgingBlocks || !searchBlocks.searchForBlock}">
            <table template-pagination="custom/pager"
                   ng-show="countForgingBlocks  || !searchBlocks.searchForBlock" ng-table="tableBlocks" class="table ng-table-responsive ng-table-group"
                   ng-class="{'voted' : address == block.generatorId"   >
                <tbody class="tbody-group" ng-repeat="group in $groups">

                <tr ng-repeat="block in group.data"
                    ng-class="{'voted' : address == block.generatorId">
                    <td>Height: {{block.height}}
                    <td colspan="2">
                      Block ID:  <strong>{{block.id}}</strong>
                    </td>
                </tr>
                <tr ng-repeat="block in group.data"
                    ng-class="{'voted' : address == block.generatorId"
                    class="ng-table-group">
                    <td colspan="3">
                        Generator: {{block.generatorId}}
                    </td>
                </tr>

                <tr ng-repeat="block in group.data"
                    ng-class="{'voted' : address == block.generatorId">
                    <td colspan="2">
                        Time: {{block.timestamp | timeAgoFilter}}
                    </td>
                    <td>
                        Transactions: {{block.numberOfTransactions}}
                    </td>
                </tr>
                <tr ng-repeat="block in group.data"
                    ng-class="{'voted' : address == block.generatorId">
                    <td colspan="2">
                        Amount: {{block.totalAmount | xcrFilter}}
                    </td>
                    <td>
                        Fee: {{block.totalFee | xcrFilter}}
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="panel-body empty-body empty-table"
                 ng-if="!countForgingBlocks && searchBlocks.searchForBlock">
                <div class="logo-gray-iconed"></div>
                <p class="empty-state-text">No results for this search.</p>
            </div>
        </div>
    </div>
</div>
