<div class="top-margin"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading cursor"><h2>My Contacts</h2>

            </div>
            <div class="panel-body empty-body" ng-if="!contacts.list.count">
                <p class="empty-state-icon"><i class="mdi-social-people medium"></i></p>

                <p class="empty-state-text">You don't have any contacts, try adding a new one!</p></div>
        </div>
    </div>
</div>
