
<div class="row clearfix" ng-repeat-start="cat in dapps | groupBy: 'category'">
    <div class="col-xs-12">
        <div class="panel  panel-default no-margin-bottom" ui-sref='main.dappsCategory({categoryId:"{{getCategoryName(cat[0].category)}}"})'>
            <div class="panel-heading cursor"><h2>{{getCategoryName(cat[0].category)}} {{searchedText}}</h2>
                <div class="more"><span class="sr-only">More</span></div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div ng-repeat="dapp in cat | limitTo: 6" class="col-lg-2 col-md-4 col-sm-4 col-xs-6" ng-show="dapp.type==1">
        <div class="dapp-content small-dapp clearfix cursor">
            <div class="cover">
                <div class="cover-image-container">
                    <div class="cover-outer-align">
                        <div class="cover-inner-align">
                            <img ng-if="!dapp.icon && !dapp.siaIcon" class="cover-image"
                                 src="https://placeholdit.imgix.net/~text?txtsize=33&txt=208%C3%97208&w=208&h=208">
                            <img ng-if="dapp.icon" class="cover-image"
                                 ng-src="{{getImageUrl(dapp.icon)}}">
                            <img ng-if="dapp.siaIcon" class="cover-image"
                                 ng-src="{{getImageSia(dapp.transactionId)}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details">
                <h2><span class="title" href="#">{{dapp.name}}</span></h2>

                <div class="subtitle-container"><span class="subtitle">{{dapp.nikname}}</span></div>
            </div>
            <div class="reason-set"><span class="stars-container">
                <div class="reason-set-star-rating">
                    <div class="small-star star-rating-non-editable-container" aria-label="Средняя оценка: 4,3 из 5">
                        <div class="current-rating" style="width: 68.29926300048828%;"></div>
                    </div>
                </div>
           <span class="price-container"> <span class="paragraph-end"></span>   <span
                   class="apps is-price-tag buy-button-container" data-doc-fetch-skip-cache="0"
                   data-doc-fetch-vouchers="0" data-docid="com.halfbrick.fruitninja"> <div class="pon"
                                                                                           style="display:none">1
           </div> <button style="display:none" class="price buy id-track-click"
                          data-server-cookie="CAIaIgogEh4KGGNvbS5oYWxmYnJpY2suZnJ1aXRuaW5qYRABGAM=" data-uitype="200">
               <span class="display-price">0,91&nbsp;€</span></button>   <span class="acquired-label"> <span
                   class="acquired-icon"></span> </span> </span>     </span> </span></div>
            <a ng-if="dapp.type==1" class="target-link" target-blank ng-href="{{dapp.link}}"></a>
            <a ng-if="dapp.type!=1" class="target-link" href="#" ui-sref='main.dappentry({"dappId":"{{dapp.transactionId}}"})'></a>
        </div>
    </div>

</div>
<div class="row clearfix margin" ng-repeat-end></div>
<div class="row clearfix">
    <div class="col-xs-12">
        <div class="panel  panel-default no-margin-bottom"
             ui-sref='main.dappsCategory({categoryId:"Installed"})'>
            <div class="panel-heading cursor"><h2>Installed Dapps {{searchedInstalledText}}</h2>

                <div class="more" ng-show="transactions.length"><span class="sr-only">More</span></div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!installedDapps.length&&showPlaceholder">
        <div class="dapp-content clearfix">
            <div class="cover">
                <div class="cover-image-container">
                    <div class="cover-outer-align">
                        <div class="cover-inner-align"><img style="height: auto; width: auto;" class="cover-image"
                                                            src="images/logo-gray-iconed.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details" style="margin-top: 58px;">
                <h2><span class="title" href="#">You do not have an installed dapp.</span></h2>
                <div class="description">Install your first dapp and it will appear in this list.
                </div>
            </div>
        </div>


    </div>
    <div ng-repeat="dapp in installedDapps | limitTo: 6" class="col-lg-2 col-md-4 col-sm-4 col-xs-6"
         ng-show="dapp.type==1">

        <div class="dapp-content small-dapp clearfix cursor">
            <div class="cover">
                <div class="cover-image-container">
                    <div class="cover-outer-align">
                        <div class="cover-inner-align">
                            <img ng-if="!dapp.icon && !dapp.siaIcon" class="cover-image"
                                 src="https://placeholdit.imgix.net/~text?txtsize=33&txt=208%C3%97208&w=208&h=208">
                            <img ng-if="dapp.icon" class="cover-image"
                                 ng-src="{{dapp.icon}}">
                            <img ng-if="dapp.siaIcon" class="cover-image"
                                 ng-src="/api/dapps/icon?id={{dapp.transactionId}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details">
                <h2><span class="title" href="#">{{dapp.name}}</span></h2>

                <div class="subtitle-container"><span class="subtitle">{{dapp.nikname}}</span></div>
            </div>
            <div class="reason-set"><span class="stars-container">
                <div class="reason-set-star-rating">
                    <div class="small-star star-rating-non-editable-container" aria-label="Средняя оценка: 4,3 из 5">
                        <div class="current-rating" style="width: 68.29926300048828%;"></div>
                    </div>
                </div>
           <span class="price-container"> <span class="paragraph-end"></span>   <span
                   class="apps is-price-tag buy-button-container" data-doc-fetch-skip-cache="0"
                   data-doc-fetch-vouchers="0" data-docid="com.halfbrick.fruitninja"> <div class="pon"
                                                                                           style="display:none">1
           </div> <button style="display:none" class="price buy id-track-click"
                          data-server-cookie="CAIaIgogEh4KGGNvbS5oYWxmYnJpY2suZnJ1aXRuaW5qYRABGAM=" data-uitype="200">
               <span class="display-price">0,91&nbsp;€</span></button>   <span class="acquired-label"> <span
                   class="acquired-icon"></span> </span> </span>     </span> </span></div>
            <a ng-if="dapp.type==1" class="target-link" target-blank ng-href="{{dapp.link}}"></a>
            <a ng-if="dapp.type!=1" class="target-link" href="#"
               ui-sref='main.dappentry({"dappId":"{{dapp.transactionId}}"})'></a>
        </div>
    </div>
</div>
<div class="row clearfix margin"></div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large green" style="background-color: #7cb342!important;"  ng-click="addNewDapp()">
        <i class="large material-icons">add</i>
    </a>

</div>
