<div class="row clearfix">
    <div class="col-xs-12">
        <div class="dapp-info clearfix">
            <div class="cover-container"><img class="cover-image"
                                              src="http://placekitten.com/g/208/208">
            </div>
            <div class="info-container">
                <div class="document-title">
                    {{dapp.name}}
                </div>
                <div class="subtitle-container">
                    <a class="document-subtitle primary" href="#"><span>{{dapp.nikname}}</span> </a>

                    <div class="document-subtitle">- 25 Mar 2015</div>
                </div>
                <div class="details-info-divider"></div>
                <div class="details-actions"><a class="btn btn-sky-blue waves-effect waves-light" ng-click="installDapp()"><i
                        class="mdi-file-file-download left"></i>INSTALL
                </a>
                    <a class="btn btn-white waves-effect left-margin-14">SHARE
                    </a>
                    <a class="btn btn-white waves-effect pull-right">SOURCE CODE
                    </a>
                </div>
                <div class="subtitle-container">
                    <div class="document-subtitle large-subtitle">Category:</div>
                    <a class="document-subtitle primary" href="#" ui-sref="main.dappsCategory({categoryId:{{dapp.category}}})"><span>{{categoryType[dapp.category]}}</span> </a>
                </div>
                <div class="details-info-divider"></div>
                <div class="reason-set"><span class="stars-container">
                <div class="reason-set-star-rating">
                    <div class="small-star star-rating-non-editable-container" aria-label="Средняя оценка: 4,3 из 5">
                        <div class="current-rating" style="width: 68.29926300048828%;"></div>

                    </div>
                    <div class="stars-count"> (1449)</div>
                </div>
          </span></div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-xs-12">
        <div class="dapp-info clearfix">
            <div class="description">
                <h1 class="heading">Description</h1>

                <div class="text-body" ng-class="{'expanded': showMore}">
                    <p>{{dapp.description}}</p>
                </div>
                <div class="show-more clearfix" ng-if="!showMore"><a class="btn btn-white" ng-click="changeShowMore()">READ
                    MORE
                </a></div>
            </div>
        </div>

    </div>
</div>

<div class="row clearfix">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="dapp-info clearfix">
            <div class="description">
                <h1 class="heading">Rating</h1>

                <div class="score-container">
                    <div class="score">4,5</div>
                    <div class="reason-set"><span class="stars-container">
                <div class="reason-set-star-rating">
                    <div class="small-star star-rating-non-editable-container" aria-label="Средняя оценка: 4,5 из 5">
                        <div class="current-rating" style="width: 90.1%;"></div>

                    </div>
                    <div class="stars-count"> (1449)</div>
                </div>
          </span></div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="dapp-info clearfix">
            <div class="description">
                <h1 class="heading">User Reviews</h1>

                <div class="comments-wrapper">
                    <div class="comment-wrapper">
                        <div class="comment">
                            <div class="author"><img
                                    class="author-image"
                                    src="http://placekitten.com/g/64/64"></div>
                            <div><span class="author-name">Martha Matthews</span>

                                <div class="reason-set"><span class="stars-container">
                <div class="reason-set-star-rating">
                    <div class="small-star star-rating-non-editable-container">
                        <div class="current-rating" style="width: 60%;"></div>

                    </div>
                </div>
          </span></div>
                                <div class="quoted-review">
                                    <div class="review-text">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
                                        omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                                        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                        beatae vitae dicta. explicabo.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments-wrapper hidden-xs hidden-sm">
                        <div class="comment-wrapper">
                            <div class="comment">
                                <div class="author"><img
                                        class="author-image"
                                        src="http://placekitten.com/g/64/64"></div>
                                <div><span class="author-name">Martha Matthews</span>

                                    <div class="reason-set"><span class="stars-container">
                <div class="reason-set-star-rating">
                    <div class="small-star star-rating-non-editable-container">
                        <div class="current-rating" style="width: 60%;"></div>

                    </div>
                </div>
          </span></div>
                                    <div class="quoted-review">
                                        <div class="review-text">
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu
                                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                                            in
                                            culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                                            unde
                                            omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                            totam
                                            rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                            beatae vitae dicta. explicabo.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="show-more-reviews clearfix" style="padding: 0 26px 27px;"><a class="btn btn-white">READ
                MORE
            </a></div>
        </div>
    </div>
</div>
<div class="row clearfix margin"></div>
<div class="row clearfix">
    <div class="col-xs-12">
        <div class="panel  panel-default no-margin-bottom">
            <div class="panel-heading cursor"><h2>Similar Dapps</h2>

                <div class="more" ng-show="transactions.length"><span class="sr-only">More</span></div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="dapp-content small-dapp clearfix">
            <div class="cover">
                <div class="cover-image-container">
                    <div class="cover-outer-align">
                        <div class="cover-inner-align"><img alt="EMAIL (Peer-to-peer)" class="cover-image"
                                                            src="https://placeholdit.imgix.net/~text?txtsize=33&txt=132%C3%97132&w=132&h=132">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details">
                <h2><span class="title" href="#">Inbox</span></h2>

                <div class="subtitle-container"><span class="subtitle">Martin West</span></div>
            </div>
            <div class="reason-set"><span class="stars-container">
                <div class="reason-set-star-rating">
                    <div class="small-star star-rating-non-editable-container" aria-label="Средняя оценка: 4,3 из 5">
                        <div class="current-rating" style="width: 68.29926300048828%;"></div>
                    </div>
                </div>
           <span class="price-container"> <span class="paragraph-end"></span>   <span
                   class="apps is-price-tag buy-button-container" data-doc-fetch-skip-cache="0"
                   data-doc-fetch-vouchers="0" data-docid="com.halfbrick.fruitninja"> <div class="pon"
                                                                                           style="display:none">1
           </div> <button style="display:none" class="price buy id-track-click"
                          data-server-cookie="CAIaIgogEh4KGGNvbS5oYWxmYnJpY2suZnJ1aXRuaW5qYRABGAM=" data-uitype="200">
               <span class="display-price">0,91&nbsp;€</span></button>   <span class="acquired-label"> <span
                   class="acquired-icon"></span> </span> </span>     </span> </span></div>
        </div>


    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="dapp-content small-dapp clearfix">
            <div class="cover">
                <div class="cover-image-container">
                    <div class="cover-outer-align">
                        <div class="cover-inner-align"><img alt="EMAIL (Peer-to-peer)" class="cover-image"
                                                            src="https://placeholdit.imgix.net/~text?txtsize=33&txt=132%C3%97132&w=132&h=132">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details">
                <h2><span class="title" href="#">Inbox</span></h2>

                <div class="subtitle-container"><span class="subtitle">Martin West</span></div>
            </div>
            <div class="reason-set"><span class="stars-container">
                <div class="reason-set-star-rating">
                    <div class="small-star star-rating-non-editable-container" aria-label="Средняя оценка: 4,3 из 5">
                        <div class="current-rating" style="width: 68.29926300048828%;"></div>
                    </div>
                </div>
           <span class="price-container"> <span class="paragraph-end"></span>   <span
                   class="apps is-price-tag buy-button-container" data-doc-fetch-skip-cache="0"
                   data-doc-fetch-vouchers="0" data-docid="com.halfbrick.fruitninja"> <div class="pon"
                                                                                           style="display:none">1
           </div> <button style="display:none" class="price buy id-track-click"
                          data-server-cookie="CAIaIgogEh4KGGNvbS5oYWxmYnJpY2suZnJ1aXRuaW5qYRABGAM=" data-uitype="200">
               <span class="display-price">0,91&nbsp;€</span></button>   <span class="acquired-label"> <span
                   class="acquired-icon"></span> </span> </span>     </span> </span></div>
        </div>


    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="dapp-content small-dapp clearfix">
            <div class="cover">
                <div class="cover-image-container">
                    <div class="cover-outer-align">
                        <div class="cover-inner-align"><img alt="EMAIL (Peer-to-peer)" class="cover-image"
                                                            src="https://placeholdit.imgix.net/~text?txtsize=33&txt=132%C3%97132&w=132&h=132">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details">
                <h2><span class="title" href="#">Inbox</span></h2>

                <div class="subtitle-container"><span class="subtitle">Martin West</span></div>
            </div>
            <div class="reason-set"><span class="stars-container">
                <div class="reason-set-star-rating">
                    <div class="small-star star-rating-non-editable-container" aria-label="Средняя оценка: 4,3 из 5">
                        <div class="current-rating" style="width: 68.29926300048828%;"></div>
                    </div>
                </div>
           <span class="price-container"> <span class="paragraph-end"></span>   <span
                   class="apps is-price-tag buy-button-container" data-doc-fetch-skip-cache="0"
                   data-doc-fetch-vouchers="0" data-docid="com.halfbrick.fruitninja"> <div class="pon"
                                                                                           style="display:none">1
           </div> <button style="display:none" class="price buy id-track-click"
                          data-server-cookie="CAIaIgogEh4KGGNvbS5oYWxmYnJpY2suZnJ1aXRuaW5qYRABGAM=" data-uitype="200">
               <span class="display-price">0,91&nbsp;€</span></button>   <span class="acquired-label"> <span
                   class="acquired-icon"></span> </span> </span>     </span> </span></div>
        </div>


    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="dapp-content small-dapp clearfix">
            <div class="cover">
                <div class="cover-image-container">
                    <div class="cover-outer-align">
                        <div class="cover-inner-align"><img alt="EMAIL (Peer-to-peer)" class="cover-image"
                                                            src="https://placeholdit.imgix.net/~text?txtsize=33&txt=132%C3%97132&w=132&h=132">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details">
                <h2><span class="title" href="#">Inbox</span></h2>

                <div class="subtitle-container"><span class="subtitle">Martin West</span></div>
            </div>
            <div class="reason-set"><span class="stars-container">
                <div class="reason-set-star-rating">
                    <div class="small-star star-rating-non-editable-container" aria-label="Средняя оценка: 4,3 из 5">
                        <div class="current-rating" style="width: 68.29926300048828%;"></div>
                    </div>
                </div>
           <span class="price-container"> <span class="paragraph-end"></span>   <span
                   class="apps is-price-tag buy-button-container" data-doc-fetch-skip-cache="0"
                   data-doc-fetch-vouchers="0" data-docid="com.halfbrick.fruitninja"> <div class="pon"
                                                                                           style="display:none">1
           </div> <button style="display:none" class="price buy id-track-click"
                          data-server-cookie="CAIaIgogEh4KGGNvbS5oYWxmYnJpY2suZnJ1aXRuaW5qYRABGAM=" data-uitype="200">
               <span class="display-price">0,91&nbsp;€</span></button>   <span class="acquired-label"> <span
                   class="acquired-icon"></span> </span> </span>     </span> </span></div>
        </div>


    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="dapp-content small-dapp clearfix">
            <div class="cover">
                <div class="cover-image-container">
                    <div class="cover-outer-align">
                        <div class="cover-inner-align"><img alt="EMAIL (Peer-to-peer)" class="cover-image"
                                                            src="https://placeholdit.imgix.net/~text?txtsize=33&txt=132%C3%97132&w=132&h=132">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details">
                <h2><span class="title" href="#">Inbox</span></h2>

                <div class="subtitle-container"><span class="subtitle">Martin West</span></div>
            </div>
            <div class="reason-set"><span class="stars-container">
                <div class="reason-set-star-rating">
                    <div class="small-star star-rating-non-editable-container" aria-label="Средняя оценка: 4,3 из 5">
                        <div class="current-rating" style="width: 68.29926300048828%;"></div>
                    </div>
                </div>
           <span class="price-container"> <span class="paragraph-end"></span>   <span
                   class="apps is-price-tag buy-button-container" data-doc-fetch-skip-cache="0"
                   data-doc-fetch-vouchers="0" data-docid="com.halfbrick.fruitninja"> <div class="pon"
                                                                                           style="display:none">1
           </div> <button style="display:none" class="price buy id-track-click"
                          data-server-cookie="CAIaIgogEh4KGGNvbS5oYWxmYnJpY2suZnJ1aXRuaW5qYRABGAM=" data-uitype="200">
               <span class="display-price">0,91&nbsp;€</span></button>   <span class="acquired-label"> <span
                   class="acquired-icon"></span> </span> </span>     </span> </span></div>
        </div>


    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="dapp-content small-dapp clearfix">
            <div class="cover">
                <div class="cover-image-container">
                    <div class="cover-outer-align">
                        <div class="cover-inner-align"><img alt="EMAIL (Peer-to-peer)" class="cover-image"
                                                            src="https://placeholdit.imgix.net/~text?txtsize=33&txt=132%C3%97132&w=132&h=132">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details">
                <h2><span class="title" href="#">Inbox</span></h2>

                <div class="subtitle-container"><span class="subtitle">Martin West</span></div>
            </div>
            <div class="reason-set"><span class="stars-container">
                <div class="reason-set-star-rating">
                    <div class="small-star star-rating-non-editable-container" aria-label="Средняя оценка: 4,3 из 5">
                        <div class="current-rating" style="width: 68.29926300048828%;"></div>
                    </div>
                </div>
           <span class="price-container"> <span class="paragraph-end"></span>   <span
                   class="apps is-price-tag buy-button-container" data-doc-fetch-skip-cache="0"
                   data-doc-fetch-vouchers="0" data-docid="com.halfbrick.fruitninja"> <div class="pon"
                                                                                           style="display:none">1
           </div> <button style="display:none" class="price buy id-track-click"
                          data-server-cookie="CAIaIgogEh4KGGNvbS5oYWxmYnJpY2suZnJ1aXRuaW5qYRABGAM=" data-uitype="200">
               <span class="display-price">0,91&nbsp;€</span></button>   <span class="acquired-label"> <span
                   class="acquired-icon"></span> </span> </span>     </span> </span></div>
        </div>


    </div>
</div>
<div class="row clearfix margin"></div>