<div class="row">
    <div class="col-xs-12">
        <div class="info-panel">
            <span class="plain-text pull-left">
             已选{{voteList.length}}个,最多{{countStandby + countTop}}个
            </span>
            <ul class="nav nav-info pull-right">
                <li class="list-delegate" dropdown is-open="moreDropdownSeelction.isopen">
                    <a dropdown-toggle ng-disabled="voteList.length==0"><i
                            class="mdi-action-visibility left"></i>视图选择</a>
                      <ul class="list-group dropdown-menu" ng-class="{'empty': voteList.length < 1}">
                        <li class="list-group-item" ng-repeat="(key,item) in voteList.list"
                            ng-click="voteList.vote(key, item, $event, true)">{{item}}
                        </li>
                                    </ul>
                </li>
                <li><a class="green-link" ng-click="vote()" ng-disabled="voteList.length==0"><i
                        class="mdi-action-favorite-outline left"></i>投票</a></li>
            </ul>
         </div>
    </div>
    ​
</div>
​
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default paginated">
            <div class="panel-heading"><h2>入围受托人</h2>
                <div class="plain-text">总共{{countTop}}个</div>
            </div>
            <table ng-table="tableTopDelegates" border="0" width="100%"
                   cellpadding="0" cellspacing="0" class="ng-table-responsive" template-pagination="custom/pager">
                <tr ng-repeat="delegate in $data"
                    ng-class="{'voted' : (delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)), 'checked': voteList.inList(delegate.publicKey)}">
                    <td data-title="''" class="no-select checkbox-col">
                        <input ng-click="voteList.vote(delegate.publicKey, delegate.username)" type="checkbox"
                               class="filled-in violet" id="filled-in-box-{{delegate.publicKey}}"
                               ng-checked="voteList.inList(delegate.publicKey)"
                               ng-disabled="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"/>
                        <label for="filled-in-box-{{delegate.publicKey}}"></label>
                        <!--   <span class="app-chekbox"
                                 ng-show="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"></span>
                           <span class="app-chekbox" ng-click="voteList.vote(delegate.publicKey, delegate.username)"
                                 ng-hide="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"
                                 ng-class="{'unchecked':!voteList.inList(delegate.publicKey), 'checked':voteList.inList(delegate.publicKey)}"></span>-->
                    </td>
                    <td data-title="'排名'" sortable="'rate'">{{delegate.rate}}</td>
                    <td data-title="'名称'" sortable="'username'" class="username">{{delegate.username}}</td>
                    <td data-title="'Crypti地址'"><a ng-click="userInfo(delegate.address)">{{delegate.address}}</a>
                    </td>
                    <td data-title="'出块率'" sortable="'productivity'"><span
                            ng-show="delegate.productivity">{{(delegate.productivity)}}%</span><span
                            ng-show="!delegate.productivity">-</span></td>
                    <td data-title="'得票率'" sortable="'vote'">{{getApproval(delegate.vote) | number: 2}}%</td>
                    <td data-title="">
                        <div class="dropdown-more-group" dropdown><span class="table-more-actions" dropdown-toggle><span
                                class="dots"></span></span>
                            <ul class="list-group" role="menu">
                                <li class="list-group-item"><a ng-click="sendCrypti(delegate.address)">发送
                                    XCR</a></li>
                                <!--<li class="list-group-item"><a>Send Message</a></li>-->
                                <div class="divider-wrap">
                                    <li class="divider"></li>
                                </div>
                                <li class="list-group-item"><a ng-click="copyToClip(delegate.address)">复制地址</a>
                                </li>
                                <li class="list-group-item"><a ng-click="copyToClip(delegate.username)">复制名称</a></li>
                                <div class="divider-wrap">
                                    <li class="divider"></li>
                                </div>
                                <li class="list-group-item"><a ng-click="addContact(delegate.address)">添加为联系人</a></li>
                                <!--<li class="list-group-item"><a>See Voters</a></li>-->
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-show="!loadingTop && (!$data || $data.length == 0)">
                    <td colspan="7">
                        无受托人
                    </td>
                </tr>
                <tr ng-show="loadingTop">
                    <td colspan="7">
                        加载中…
                    </td>
                </tr>
            </table>
            ​
        </div>
    </div>
</div>
​
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default paginated">
            <div class="panel-heading"><h2>备选受托人</h2>
                ​
                <div class="plain-text">总共{{countStandby}}个</div>
            </div>
            <table ng-table="tableStandbyDelegates" border="0" width="100%" cellpadding="0" cellspacing="0"
                   template-pagination="custom/pager">
                <tr ng-repeat="delegate in $data"
                    ng-class="{'voted' : (delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)), 'checked': voteList.inList(delegate.publicKey)}">
                    <td data-title="''" class="no-select checkbox-col">
                        <input ng-click="voteList.vote(delegate.publicKey, delegate.username)" type="checkbox"
                               class="filled-in violet" id="filled-in-box-{{delegate.publicKey}}"
                               ng-checked="voteList.inList(delegate.publicKey)"
                               ng-disabled="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"/>
                        <label for="filled-in-box-{{delegate.publicKey}}"></label>
                        <!--   <span class="app-chekbox"
                                 ng-show="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"></span>
                        <span class="app-chekbox" ng-click="voteList.vote(delegate.publicKey, delegate.username)"
                              ng-hide="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"
                              ng-class="{'unchecked':!voteList.inList(delegate.publicKey), 'checked':voteList.inList(delegate.publicKey)}"></span>-->
                    </td>
                    <td data-title="'排名'" sortable="'rate'">{{delegate.rate}}</td>
                    <td data-title="'名称'" sortable="'username'" class="username">{{delegate.username}}</td>
                    <td data-title="'Crypti地址'"><a ng-click="userInfo(delegate.address)">{{delegate.address}}</a>
                    </td>
                    <td data-title="'出块率'" sortable="'productivity'"><span ng-show="delegate.productivity">{{(delegate.productivity)}}%</span><span
                            ng-show="!delegate.productivity">-</span></td>
                    <td data-title="'得票率'" sortable="'vote'">{{getApproval(delegate.vote) | number: 2}}%</td>
                    <td data-title="">
                        <div class="dropdown-more-group" dropdown><span class="table-more-actions" dropdown-toggle><span
                                class="dots"></span></span>
                            <ul class="list-group" role="menu">
                                <li class="list-group-item"><a ng-click="sendCrypti(delegate.address)">发送
                                    XCR</a></li>
                                <!--<li class="list-group-item"><a>Send Message</a></li>-->
                                <div class="divider-wrap">
                                    <li class="divider"></li>
                                </div>
                                <li class="list-group-item"><a ng-click="copyToClip(delegate.address)">复制地址</a>
                                </li>
                                <li class="list-group-item"><a ng-click="copyToClip(delegate.username)">复制名称</a></li>
                                <div class="divider-wrap">
                                    <li class="divider"></li>
                                </div>
                                <li class="list-group-item"><a ng-click="addContact(delegate.address)">添加为联系人</a></li>
                                <!--<li class="list-group-item"><a>See Voters</a></li>-->
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-show="!loadingTop && (!$data || $data.length == 0)">
                    <td colspan="7">
                        无受托人
                    </td>
                </tr>
                <tr ng-show="loadingTop">
                    <td colspan="7">
                        加载中…
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>