<div class="row">
    <div class="col-sm-12 col-xs-12 col-md-8">
        <div class="info-panel clearfix info-panel-grey">
            <span class="title" ng-if="delegate.username">
                {{delegate.username}}
            </span>
                <span class="title" ng-if="!delegate.username">
               To become a delegate, click on the 'Delegate Registration' button.
            </span>
               <span class="plain-text" ng-show="delegate.time">
              Registered on {{delegate.time | timestampFilter}}
            </span>
        </div>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">

        <div class="info-panel clearfix info-panel-grey">
            <span class="title">
               XCR Earned
            </span>
               <span class="plain-text">
             {{totalForged  | xcrFilter }} XCR
            </span>
        </div>
        <!-- <div class="light-graph">
             <div class="light-graph-heading">XCR Earned</div>
             <div class="light-graph-body">
                 <div class="chart-legend">{{totalForged / 100000000 | feeFilter }}<span
                         class="small-text">XCR</span>
                 </div>
                 <div class="chart-container">
                 </div>
             </div>
         </div>-->
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
        <div class="light-graph">
            <div class="light-graph-heading">Rank</div>
            <div class="light-graph-body">
                <div class="chart-legend">{{rank}}
                </div>
                <canvas id="rank" class="chart chart-doughnut" data="graphs.rank.values"
                        labels="graphs.rank.labels" options="graphs.rank.options"
                        colours="graphs.rank.colours"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
        <div class="light-graph">
            <div class="light-graph-heading">Uptime</div>
            <div class="light-graph-body">
                <div class="chart-legend">{{uptime | number:2}} %
                </div>
                <canvas id="uptime" class="chart chart-doughnut" data="graphs.uptime.values"
                        labels="graphs.uptime.labels" options="graphs.uptime.options"
                        colours="graphs.uptime.colours"></canvas>
            </div>
        </div>
    </div>
    <div class="clearfix visible-md visible-sm visible-xs"></div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="light-graph">
            <div class="light-graph-heading">Approval</div>
            <div class="light-graph-body">
                <div class="chart-legend">{{approval | number:2}} %
                </div>
                <canvas id="approval" class="chart chart-doughnut" data="graphs.approval.values"
                        labels="graphs.approval.labels" options="graphs.approval.options"
                        colours="graphs.approval.colours"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default" ng-class="{'paginated': countForgingBlocks}">
            <div class="panel-heading"><h2>Forged Blocks</h2>
            </div>
            <table template-pagination="custom/pager"
                   ng-show="countForgingBlocks" ng-table="tableBlocks"
                   class="table ng-table-responsive ng-table-group"
                    >
                <tbody class="tbody-group" ng-repeat="group in $groups">

                <tr ng-repeat="block in group.data"
                        >
                    <td>Height: {{block.height}}
                    <td colspan="2">
                        Block ID: <strong>{{block.id}}</strong>
                    </td>
                </tr>

                <tr ng-repeat="block in group.data"
                        >
                    <td colspan="2">
                        Time: {{block.timestamp | timeAgoFilter}}
                    </td>
                    <td>
                        Transactions: {{block.numberOfTransactions}}
                    </td>
                </tr>
                <tr ng-repeat="block in group.data"
                        >
                    <td colspan="2">
                        Amount: {{block.totalAmount | xcrFilter}}
                    </td>
                    <td>
                        Fee: {{block.totalFee | xcrFilter}}
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="panel-body empty-body empty-table without-margin-top" ng-if="!countForgingBlocks">
                <div class="logo-gray-iconed"></div>
                <p class="empty-state-text">You haven't forged any blocks yet.</p>
            </div>
        </div>

    </div>
</div>

