<div class="top-margin"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default paginated">
            <div class="panel-heading"><h2>My Wallets</h2>
            </div>
            <table ng-table="tableWallets" border="0" width="100%" cellpadding="0" cellspacing="0"
                   template-pagination="custom/pager">
                <tr ng-class="{'voted': wallet.pending>0}" ng-repeat="wallet in $data">
                    <td data-title="'Wallet'" sortable="'address'">{{wallet.address}}</td>
                    <td data-title="'Members'" sortable="'confirmations'">
                        {{wallet.confirmations}}
                    </td>
                    <td data-title="'Confirmations required'" sortable="'needed'">
                        {{wallet.needed}}
                    </td>
                    <td data-title="'Pending'" sortable="'pending'">
                        {{wallet.pending || '-'}}
                    </td>
                    <td data-title="''"><a class="btn btn-dark-meant" ui-sref="main.walletTransactions"><i
                            class="mdi-action-view-list left"></i>Transactions
                    </a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
