<div class="top-margin"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default" ng-class="{'paginated': contactsView.followersCount}">
            <div class="panel-heading"><h2>Pending Requests</h2>
            </div>
            <table template-pagination="custom/pager" ng-show="contactsView.followersCount"
                   ng-table="tableFollowers" class="table ng-table-responsive ng-table-group">
                <tbody class="tbody-group" ng-repeat="group in $groups">
                <tr class="ng-table-group">
                    <td>
                        Address: <strong>{{ group.value }}</strong>
                    </td>
                </tr>
                <tr ng-repeat="contact in group.data">
                    <td>
                        Username: {{contact.username || ''}}
                    </td>
                </tr>
                <tr ng-repeat="trans in group.data">
                    <td>
                        <a class="btn btn-dark-meant" ng-click="addContact(contact.address)"><i
                                class="mdi-action-done left"></i>CONFIRM</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="panel-body empty-body empty-table" ng-show="!contactsView.followersCount">
                <p class="empty-state-icon"><i class="mdi-social-people medium"></i></p>
                <p class="empty-state-text">You don't have any pending contact!</p></div>
        </div>
    </div>
</div>
