<div class="row">
    <div class="col-xs-12">
        <div class="info-panel">
            <span class="plain-text pull-left">
             已选{{voteList.length}}个,最多{{count}}个
            </span>
            <ul class="nav nav-info pull-right">
                <li class="list-delegate" dropdown is-open="moreDropdownSeelction.isopen">
                    <a dropdown-toggle ng-disabled="voteList.length==0"><i
                            class="mdi-action-visibility left"></i>视图选择</a>

                    <ul class="list-group dropdown-menu" ng-class="{'empty': voteList.length < 1}">
                        <li class="list-group-item" ng-repeat="(key,item) in voteList.list"
                            ng-click="voteList.vote(key, item, $event, true)">{{item}}
                        </li>

                    </ul>
                </li>
                <li><a class="red-link" ng-click="vote()" ng-disabled="voteList.length==0"><i
                        class="mdi-action-favorite-outline left"></i>移除投票</a></li>
            </ul>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default" ng-class="{'paginated': count}">
            <div class="panel-heading"><h2>我的投票</h2>

                <div class="plain-text">总共{{count}}个</div>
            </div>
            <table ng-show="count" ng-table="tableMyDelegates" border="0" width="100%" cellpadding="0" cellspacing="0"
                   template-pagination="custom/pager">
                <tr ng-repeat="delegate in $data"
                    ng-class="{'checked': voteList.inList(delegate.publicKey)}">
                    <td data-title="''" class="no-select checkbox-col">
                        <input ng-click="voteList.vote(delegate.publicKey, delegate.username)" type="checkbox"
                               class="filled-in violet" id="filled-in-box-{{delegate.publicKey}}"
                               ng-checked="voteList.inList(delegate.publicKey)">
                        <label for="filled-in-box-{{delegate.publicKey}}"></label>
                        <!--   <span class="app-chekbox"
                                 ng-show="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"></span>
                        <span class="app-chekbox" ng-click="voteList.vote(delegate.publicKey, delegate.username)"
                              ng-hide="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"
                              ng-class="{'unchecked':!voteList.inList(delegate.publicKey), 'checked':voteList.inList(delegate.publicKey)}"></span>-->
                    </td>
                    <td data-title="'排名'" sortable="'rate'">{{delegate.rate}}</td>
                    <td data-title="'名称'" sortable="'username'" class="username">{{delegate.username}}</td>
                    <td data-title="'Crypti地址'" ><a>{{delegate.address}}</a></td>
                    <td data-title="'出块率'" sortable="'productivity'">{{(delegate.productivity)}}%</td>
                    <td data-title="'得票率'" sortable="'vote'">{{getApproval(delegate.vote) | number: 2}}%</td>
                    <td data-title="">
                        <div class="dropdown-more-group" dropdown><span class="table-more-actions" dropdown-toggle><span
                                class="dots"></span></span>
                            <ul class="list-group" role="menu">
                                <li class="list-group-item"><a ng-click="sendCrypti(delegate.address)">发送XCR</a></li>
                                <!--<li class="list-group-item"><a>Send Message</a></li>-->
                                <div class="divider-wrap">
                                    <li class="divider"></li>
                                </div>
                                <li class="list-group-item"><a ng-click="copyToClip(delegate.address)">复制地址</a>
                                </li>
                                <li class="list-group-item"><a ng-click="copyToClip(delegate.username)">复制名称</a></li>
                                <div class="divider-wrap">
                                    <li class="divider"></li>
                                </div>
                                <li class="list-group-item"><a ng-click="addContact(delegate.address)">添加为联系人</a></li>
                                <!--<li class="list-group-item"><a>See Voters</a></li>-->
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="panel-body empty-body empty-table" ng-if="!count">
                <div class="logo-gray-iconed"></div>
                <p class="empty-state-text">你还没有给任何人投票哦！</p>
            </div>
        </div>
    </div>
</div>
