<div class="row">
    <div class="col-xs-12">
        <div class="info-panel clearfix">
            <span class="plain-text pull-left ">
             {{voteList.length}} out of {{countStandby + countTop}} Delegates selected
            </span>
            <ul class="nav nav-info pull-left clearfix">
                <li class="list-delegate" dropdown is-open="moreDropdownSeelction.isopen">
                    <a dropdown-toggle ng-disabled="voteList.length==0"><i
                            class="mdi-action-visibility left"></i>View selection</a>

                    <ul class="list-group dropdown-menu" ng-class="{'empty': voteList.length < 1}">
                        <li class="list-group-item" ng-repeat="(key,item) in voteList.list"
                            ng-click="voteList.vote(key, item, $event, true)">{{item}}
                        </li>

                    </ul>
                </li>
                <li><a class="red-link" ng-click="vote()" ng-disabled="voteList.length==0"><i
                        class="mdi-action-favorite-outline left"></i>remove vote</a></li>
            </ul>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default" ng-class="{'paginated': count}">
            <div class="panel-heading"><h2>My Votes</h2>

                <div class="plain-text">{{count}} in Total</div>
            </div>
            <table ng-show="count" template-pagination="custom/pager"
                   ng-table="tableMyDelegates" class="table ng-table-responsive ng-table-group"
                   ng-class="{'checked': voteList.inList(delegate.publicKey)}">
                <tbody class="tbody-group" ng-repeat="group in $groups">

                <tr ng-repeat="delegate in group.data"
                    ng-class="{'checked': voteList.inList(delegate.publicKey)}">
                    <td><input ng-click="voteList.vote(delegate.publicKey, delegate.username)" type="checkbox"
                               class="filled-in violet" id="filled-in-box-{{delegate.publicKey}}"
                               ng-checked="voteList.inList(delegate.publicKey)"/>
                        <label for="filled-in-box-{{delegate.publicKey}}"></label></td>
                    <td colspan="2">
                        <strong>{{delegate.username}}</strong>
                    </td>
                </tr>
                <tr ng-repeat="delegate in group.data"
                    ng-class="{'checked': voteList.inList(delegate.publicKey)}"
                    class="ng-table-group">
                    <td colspan="3">
                        Crypti Address: {{delegate.address}}
                    </td>
                </tr>

                <tr ng-repeat="delegate in group.data"
                    ng-class="{'checked': voteList.inList(delegate.publicKey)}">
                    <td>
                        Rank: {{delegate.rate}}
                    </td>
                    <td>
                        Upptime: <span
                            ng-show="delegate.productivity">{{(delegate.productivity)}}%</span><span
                            ng-show="!delegate.productivity">-</span>
                    </td>
                    <td>
                        Approval: {{getApproval(delegate.vote) | number: 2}}%
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body empty-body empty-table" ng-if="!count">
                <div class="logo-gray-iconed"></div>
                <p class="empty-state-text">You haven't voted for any delegates yet.</p>
            </div>
        </div>
    </div>
</div>


