<div class="top-margin">

</div>
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="panel widget widget-green">
            <div class="crypti-icon"></div>
            <div class="panel-body">
                <div class="wg-label">Balance</div>
                <div class="wg-data"><span class="strong">{{balanceToShow[0] || 0}}<span class="small">{{balanceToShow[1]}}</span></span>
                    XCR
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="panel  widget widget-blue">
            <div class="contacts-icon"></div>
            <div class="panel-body">
                <div class="wg-label">Contacts</div>
                <div class="wg-data"><span class="strong">{{contacts.count}}</span><span ng-if="false"
                                                                                         class="wg-legend new-contacts"><span>12 this week</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="panel  widget widget-cloud" ng-show="diffVersion!=-1">
            <div class="panel-body">
                <div class="wg-label">Crypti Client</div>
                <div class="wg-data version"><span class="strong">v{{version}}</span><span
                        class="wg-legend">Latest version</span></div>
            </div>
        </div>
        <div class="panel  widget widget-red" ng-show="diffVersion==-1">
            <div class="panel-body">
                <div class="wg-label">Crypti Client Outdated</div>
                <div class="wg-data version"><span class="strong">v{{version}}</span>
                    <a href="https://crypti.me/downloads" target="_blank" class="btn btn-white waves-effect pull-right">UPDATE</a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel  panel-default">
            <div class="panel-heading" ng-class="{'cursor': transactions.length}"
                 eat-click-if="!transactions.length" ui-sref="main.transactions"><h2>Latest Transactions</h2>

                <div class="more" ng-show="transactions.length"><span class="sr-only">More</span></div>
            </div>
            <table ng-table="tableParams" class="table ng-table-responsive">
                <tbody class="tbody-group" ng-repeat="group in $groups">
                <tr class="ng-table-group">
                    <td colspan="2">
                            Transaction ID: <strong>{{ group.value }}</strong>
                    </td>
                </tr>
                <tr ng-repeat="trans in group.data">
                    <td colspan="2">
                        Sender: {{trans.senderId}}
                    </td>
                </tr>
                <tr ng-repeat="trans in group.data">
                    <td colspan="2">
                        Recipient: {{trans.recipientId}}
                    </td>
                </tr>
                <tr  ng-repeat="trans in group.data">
                    <td>
                        Amount: {{trans.amount | xcrFilter}}
                    </td>
                    <td>
                        Time: {{trans.timestamp | timeAgoFilter}}
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body empty-body" ng-if="!transactions.length">
                <div class="logo-gray-iconed"></div>
                <p class="empty-state-text">You haven't made any transactions yet.</p></div>
        </div>
    </div>
</div>

