<div class="top-margin"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default"
             ng-class="{'paginated': countForgingBlocks  || !searchTransactions.searchForTransaction}">
            <table template-pagination="custom/pager" ng-show="countForgingBlocks  || !searchTransactions.searchForTransaction" ng-table="tableTransactions" class="table ng-table-responsive ng-table-group">
                <tbody class="tbody-group" ng-repeat="group in $groups">
                <tr class="ng-table-group">
                    <td colspan="2">
                        Transaction ID: <strong>{{ group.value }}</strong>
                    </td>
                </tr>
                <tr ng-repeat="trans in group.data">
                    <td colspan="2">
                        Sender: {{trans.senderId}}
                    </td>
                </tr>
                <tr ng-repeat="trans in group.data">
                    <td colspan="2">
                        Recipient: {{trans.recipientId}}
                    </td>
                </tr>
                <tr ng-repeat="trans in group.data">
                    <td>
                        Amount: {{trans.amount | xcrFilter}}
                    </td>
                    <td>
                        Time: {{trans.timestamp | timeAgoFilter}}
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body empty-body empty-table without-margin-top"
                 ng-if="!countForgingBlocks && searchTransactions.searchForTransaction">
                <div class="logo-gray-iconed"></div>
                <p class="empty-state-text">No results for this search.</p>
            </div>
        </div>
    </div>
</div>
