<div class="app-modal valign-wrapper mobile-no-valig">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-9 col-md-offset-2 col-sm-12 height100 valign-wrapper mobile-no-valig">
                <div class="card card-modal">
                    <div class="card-content">
                        <div class="material-modal-content">
                            <div class="modal-header margintop0-mobile"><h2>Transactions ({{block.numberOfTransactions}})</h2>

                                <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span>
                                </div>
                            </div>
                            <div class="show-on-phone scroll-on-phone" style=" max-height: -moz-calc(100% - 85px);
            max-height: -webkit-calc(100% - 85px);
            max-height: calc(100% - 85px);">
                                <div class="modal-body">

                                    <ul class="list-group mobile-padding transactions">
                                        <!-- ngRepeat: transaction in transactions -->
                                        <li class="list-group-item" ng-repeat="transaction in transactions">
                                            <div class="transaction-data mobile-padding">{{transaction.id}} <span class="pull-right">{{transaction.timestamp | timestampFilter}}</span>
                                            </div>
                                            <div class="transaction-path mobile-padding">
                                                <div class="transaction-part pull-left"><a href="#"
                                                                                           ng-click="userInfo(transaction.senderId)">{{transaction.senderId}}</a>
                                                    <span class="xcr">{{transaction.amount  | xcrFilter}} XCR</span>
                                                </div>
                                                <div class="transaction-direction"></div>
                                                <div class="transaction-part pull-right"><a href="#"
                                                                                            ng-click="userInfo(transaction.recipientId)">{{transaction.recipientId
                                                    || "-"}}</a><span class="xcr">{{transaction.amount  | xcrFilter}} XCR</span>
                                                </div>
                                            </div>
                                            <div class="transaction-bottom">
                                                <div class="fee">FEE: {{transaction.fee | xcrFilter}} XCR
                                                </div>
                                                <div class="xcr">{{transaction.amount | xcrFilter}} XCR
                                                </div>
                                                <div class="confirmations">{{transaction.confirmations || 0}}
                                                    CONFIRMATIONS
                                                </div>
                                            </div>
                                        </li>
                                        <!-- end ngRepeat: transaction in transactions -->

                                    </ul>
                                </div>
                            </div>
                            <div class="scrolling hide-on-phone">
                                <div class="modal-body">

                                    <ul class="list-group transactions">
                                        <!-- ngRepeat: transaction in transactions -->
                                        <li class="list-group-item" ng-repeat="transaction in transactions">
                                            <div class="transaction-data">{{transaction.id}} <span class="pull-right">{{transaction.timestamp | timestampFilter}}</span>
                                            </div>
                                            <div class="transaction-path">
                                                <div class="transaction-part pull-left"><a href="#"
                                                                                           ng-click="userInfo(transaction.senderId)">{{transaction.senderId}}</a>
                                                    <span class="xcr">{{transaction.amount  | xcrFilter}} XCR</span>
                                                </div>
                                                <div class="transaction-direction"></div>
                                                <div class="transaction-part pull-right"><a href="#"
                                                                                            ng-click="userInfo(transaction.recipientId)">{{transaction.recipientId
                                                    || "-"}}</a><span class="xcr">{{transaction.amount  | xcrFilter}} XCR</span>
                                                </div>
                                            </div>
                                            <div class="transaction-bottom">
                                                <div class="fee">FEE: {{transaction.fee | xcrFilter}} XCR
                                                </div>
                                                <div class="xcr">{{transaction.amount | xcrFilter}} XCR
                                                </div>
                                                <div class="confirmations">{{transaction.confirmations || 0}}
                                                    CONFIRMATIONS
                                                </div>
                                            </div>
                                        </li>
                                        <!-- end ngRepeat: transaction in transactions -->

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>