<div ng-controller="BlurredModalController" class="st-blurred-modal-vertical-center">
    <div class="st-blurred-modal">
        <div class="content clearfix">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <div class="searchText" ng-show="!dialogData.err && !dialogData.search">别急哈，正在为你查找最近的节点，请稍等会...
            </div>
        </div>
    </div>
</div>
