<div class="app-modal valign-wrapper">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-6 col-md-offset-4 height100 valign-wrapper">
                <div class="modal-content" ng-show="step==1">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()"><span class="sr-only">关闭</span></div>
                    </div>
                    <div class="modal-header clearfix">
                        <div><h2>步骤 1/3 - 序言</h2>
                        </div>
                        <div>请仔细阅读如下内容.
                        </div>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="scrolling" style="margin-left: 10px">
                        <div class="modal-body">
                        <span class="multi-info-text flat-text"><p>本向导将会引导您去创建一个多重签名组.请务必清楚多重签名是什么,否则您可能会失去您帐户中所有的XCR.</p><p class="top-margin-10">

                            一个多重签名组是由N个帐户组成,创建签名组的帐户是所有者,当签名组的所有者要创建一笔交易的时候,需要得到多重签名组内所有的N个帐户中的M个帐户的确认,否则该交易就不会被通过,M和N的关系如下所示</p><p class="top-margin-10">

                            <b>
                                你需要知道的多重签名规则设定:</b></p>
                                - 多重签名的所有成员数(N)</p><p>
                                - 确认交易所需的成员数(M)</p><p>
                                - 您想加到签名组的帐户的名称或者帐户地址</p></span>

                        </div>
                    </div>
                    <div class="modal-body">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a ng-click="close()">取消
                                </a>
                            </li>
                            <li><a class="green-link" ng-click="step=2;">下一步</a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-content" ng-show="step==2">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()"><span class="sr-only">关闭</span></div>
                    </div>
                    <div class="modal-header clearfix">
                        <div><h2>步骤 2/3 - 添加多重签名组成员</h2>
                        </div>
                        <div>请输入成员的名称或者地址或者公钥
                        </div>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="addMember(contact)">
                            <div class="input-group app-addon">
                                <span class="input-group-addon search"></span>
                                <input ng-focus="focus == 'contact'" id="contact" type="text" class="form-control"
                                       placeholder="Account name, ID or public key"
                                       ng-model="contact">
                                <span class="input-group-addon clear" ng-click="contact='';"></span>
                            </div>
                            <span class="app-addon-error" style="margin-top: 3px;"
                                  ng-show="addingError">{{addingError}}</span>
                            <input type="submit" ng-show="false">
                        </form>
                    </div>
                    <div class="modal-body">
                        <ul class="owners-list" ng-class="{'add-border': totalCount}">
                            <li ng-repeat="(key, member) in members">
                                <span class="address-linen tooltipped" data-position="right"
                                      data-tooltip="{{key}}">{{member.address}}</span><span class="delete"
                                                                                            ng-click="deleteMember(member.publicKey)"></span>
                            </li>
                            <li><span>{{currentAddress}}</span></li>
                        </ul>
                    </div>
                    <div class="modal-body" id="multi-range" ng-show="totalCount">
                        <div class="range-wrapper" style="padding: 20px 40px; display: table; width: 100%;">
                            <div style="display: table-row;">
                                <label style="display: table-cell; font-size: 16px;">需要的确认数(M): <strong>{{sign}}</strong></label>

                                <p class="range-field">
                                    <input style="display: table-cell;" type="range" ng-model="sign" min="2"
                                           max="{{totalCount+1}}">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">
                        <span class="send-info-text flat-text">请按回车以确认输入</span>
                    </div>
                    <div class="modal-body">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a ng-click="close()">取消
                                </a>
                            </li>
                            <li><a class="green-link" ng-click="goToStep3();">下一步</a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-content" ng-show="step==3">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()"><span class="sr-only">关闭</span></div>
                    </div>
                    <div class="modal-header clearfix">
                        <div><h2>步骤 3/3 - 确认</h2>
                        </div>
                        <div>请再次检查确认您输入的以下内容,小心驶得万年船,否则一失足成千古恨.

                        </div>
                    </div>
                    <div class="modal-body">
                        <ul class="multi-total">
                            <li>成员总数(N):<span>{{totalCount+1}}</span></li>
                            <li>需要的确认数(M)<span>{{sign}}</span></li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <ul class="owners-list" ng-class="{'add-border': totalCount}">
                            <li ng-repeat="(key, member) in members">
                                <span>{{member.address}}</span>
                            </li>
                            <li>{{currentAddress}}</li>
                        </ul>
                    </div>
                    <div class="modal-body" ng-show="errorMessage">
                        <span class="app-addon-error" style="margin-top: 3px;">{{errorMessage}}</span>
                    </div>

                    <div class="modal-body">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a href="#" ng-click="step = 2;">返回
                                </a>
                            </li>
                            <li><a href="#" class="green-link" ng-click="putMembers();">关闭</a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-content" ng-show="step==4">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()"><span class="sr-only">关闭</span></div>
                    </div>
                    <div class="modal-header clearfix">
                        <div><h2>帐户验证</h2>
                        </div>
                        <div>请输入您的主密钥
                        </div>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="putMembers(true)">
                            <div class="field-padding">
                                <div class="input-field" ng-hide="rememberedPassword">
                                    <input id="password" type="password" ng-model="authData.password" ng-trim="false"
                                           autofocus
                                           ng-focus="focus == 'password'">
                                    <label for="password">您的主密钥</label>
                                </div>
                                <div class="input-field" ng-if="secondPassphrase">
                                    <input id="secondPhrase" type="password" ng-model="authData.secondPassword"
                                           ng-trim="false"
                                           autofocus
                                           ng-focus="focus == 'secondPhrase'">
                                    <label for="secondPhrase">您的支付密码</label>
                                </div>
                                <span class="pass-error" ng-show="errorMessage">{{errorMessage}}</span>
                                <input type="submit" ng-show="false">
                            </div>

                        </form>
                    </div>
                    <div class="modal-body">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a ng-click="errorMessage=''; step=3;">返回
                                </a>
                            </li>
                            <li><a class="green-link" ng-click="putMembers(true)">确认</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
