<div class="app-modal valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="card card-modal">
                    <div class="card-content">

                        <div class="material-modal-content" ng-show="firstStep">
                            <div class="modal-header modal-iconed">
                                <div class="close-modal" ng-click="close()"><span class="sr-only">关闭</span>
                                </div>
                            </div>
                            <div class="modal-header clearfix">
                                <div><h2>步骤 1/2 - 创建你的主密钥</h2>
                                </div>
                                <div>你的主密钥如下如示
                                </div>
                            </div>
                            <div class="modal-body clearfix">

                                <div class="left-margin-40 right-margin-40">
                                    <div class="input-field passphraseGeneration">
                                           <textarea id="newPassphrase" class="materialize-textarea"
                                                     ng-model="newPassphrase" autofocus ng-trim="false"></textarea>
                                        <label for="newPassphrase" ng-class="{'active':activeLabel(newPassphrase)}">主密钥</label>
                                    </div>
                                    <span class="pull-right generate unselectable"
                                          ng-click="generatePassword()"><span>创建一个新的</span></span>
                                </div>

                            </div>
                            <div class="modal-body bordered">
                                <span class="send-info-text">一定要保存好你的主密钥，这可是你的家当，一会还要你输入一下，以确认你记住主密钥！</span>
                            </div>
                            <div class="card-action clearfix">
                                <div class="pull-right">
                                    <a class="waves-effect second-action" ng-click="savePassToFile(newPassphrase)">保存主密钥</a>
                                    <a class="primary-action waves-effect" ng-click="step()">下一步</a></div>
                            </div>
                        </div>
                        <div class="material-modal-content" ng-show="!firstStep">
                            <div class="modal-header modal-iconed">
                                <div class="close-modal" ng-click="close()"><span class="sr-only">关闭</span>
                                </div>
                            </div>
                            <div class="modal-header clearfix">
                                <div><h2>步骤 2/2 - 确认主密钥</h2>
                                </div>
                                <div>请在下方输入一下你的主密钥
                                </div>
                            </div>
                            <div class="modal-body clearfix">

                                <div class="left-margin-40 right-margin-40">
                                    <div class="input-field passphraseGeneration">
                                           <textarea id="repeatPassphrase" class="materialize-textarea"
                                                     ng-trim="false" ng-model="repeatPassphrase" ng-class="{'invalid': noMatch}" autofocus></textarea>
                                        <label for="repeatPassphrase" ng-class="{'active':activeLabel(repeatPassphrase)}">主密钥</label>
                                    </div>
                                    <span class="pass-error" ng-show="noMatch">主密钥不对哦！</span>
                                </div>

                            </div>
                            <div class="modal-body bordered" ng-show="noMatch">
                                <span class="send-info-text">您输入的主密钥不对哦，返回上一步重新创建一个吧.</span>
                            </div>
                            <div class="card-action clearfix">
                                <div class="pull-right">
                                    <a class="waves-effect second-action" ng-click="step()">返回</a>
                                    <a class="primary-action waves-effect" ng-click="login(repeatPassphrase)">开启</a></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


</div>
