<div class="app-modal valign-wrapper">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-6 col-md-offset-4 height100 valign-wrapper">
                <div class="modal-content" ng-show="!passmode">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()"><span class="sr-only">关闭</span></div>
                    </div>
                    <div class="modal-header clearfix">
                        <div><h2>设置支付密码</h2>
                        </div>
                        <div>为了更好的保护您的帐号安全,建议启用支付密码,支付密码的生效需要一分钟左右,本设置费用为 <b>{{fee | xcrFilter}}
                                个XCR</b>, 您目前余额为 <b>{{totalBalance | xcrFilter}} XCR</b>.
                        </div>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="passcheck()">
                            <div class="field-padding">
                                <div class="input-field">
                                    <input ng-focus="focus=='secondPass'" id="newSecretPhrase" type="password"
                                           ng-model="newSecretPhrase" ng-trim="false"
                                           ng-class="{'invalid': errorMessage}">
                                    <label for="newSecretPhrase">支付密码</label>
                                </div>
                                <div class="input-field">
                                    <input id="repeatSecretPhrase" type="password" ng-model="repeatSecretPhrase"
                                           ng-trim="false"
                                           autofocus
                                           ng-class="{'invalid': errorMessage}">
                                    <label for="repeatSecretPhrase">再次输入</label>
                                </div>
                                <span class="pass-error"
                                      ng-show="fromServer && rememberedPassword">{{fromServer}}</span>
                            </div>
                            <input type="submit" ng-show="false">
                        </form>
                    </div>
                    <div class="modal-body">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a ng-click="close()">取消
                                </a>
                            </li>
                            <li><a class="green-link" ng-click="passcheck()">设置支付密码</a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-content" ng-show="passmode">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()"><span class="sr-only">关闭</span></div>
                    </div>
                    <div class="modal-header clearfix">
                        <div><h2>帐户验证</h2>
                        </div>
                        <div>请以下方输入您的主密钥
                        </div>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="addNewPassphrase(secretPhrase)">
                            <div class="field-padding">
                                <div class="input-field">
                                    <input ng-focus="focus=='pass'" id="passPhrase" type="password"
                                           ng-model="secretPhrase"
                                           ng-trim="false" autofocus
                                           ng-class="{'invalid': errorMessage}">
                                    <label for="passPhrase">您的主密钥</label>
                                </div>
                                <span class="pass-error" ng-show="fromServer">{{fromServer}}.</span>
                            </div>
                            <input type="submit" ng-show="false">
                        </form>
                    </div>

                    <div class="modal-body">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a  ng-click="passcheck()">返回
                                </a>
                            </li>
                            <li><a class="green-link" ng-click="addNewPassphrase(secretPhrase)">设置支付密码</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
