<div class="app-modal valign-wrapper" ng-click="close()">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-6 col-md-offset-4 height100 valign-wrapper">
                <div class="modal-content" ng-click="$event.stopPropagation();" ng-show="!passmode">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span></div>
                    </div>
                    <div class="modal-header clearfix">
                        <div><h2>Profile Information</h2>
                        </div>
                        <div>Please set your username
                        </div>
                    </div>
                    <div class="modal-body field-padding">
                        <div class="input-field">
                            <input id="username" type="text" ng-model="username" autofocus>
                            <label for="username">Username</label>
                        </div>
                        <span class="pass-error" ng-show="error && rememberedPassword">{{error}}</span>
                    </div>

                    <div class="modal-body">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a href="#" ng-click="passcheck()">Cancel
                                </a>
                            </li>
                            <li><a href="#" class="green-link" ng-click="passcheck()">save Name</a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-content" ng-click="$event.stopPropagation();" ng-show="passmode">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span>
                        </div>
                    </div>
                    <div class="modal-header clearfix">
                        <div><h2>Account Verification</h2>
                        </div>
                        <div>Please enter your passphrase below
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="field-padding">
                            <div class="input-field">
                                <input id="passPhrase" type="password" ng-model="secretPhrase" ng-trim="false" autofocus
                                       ng-class="{'invalid': error}">
                                <label for="passPhrase">Your Passphrase</label>
                            </div>
                            <span class="pass-error" ng-show="error">{{error}}</span>
                        </div>
                        <div class="modal-body">
                            <ul class="nav modal-buttons pull-right">
                                <li>
                                    <a href="#" ng-click="passcheck()">Back
                                    </a>
                                </li>
                                <li><a href="#" class="green-link" ng-click="saveName()">confirm</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>