<div class="app-modal valign-wrapper">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-9 col-md-offset-2 height100 valign-wrapper">
                <div class="modal-content">
                    <div class="modal-header clearfix">
                        <div class="media user">
                            <div class="media-left">
                                <a>
                                    <img class="media-object" src="images/samples/account.png">
                                </a>
                            </div>
                            <div class="media-body text-left">
                                <h2 class="media-heading">余额: <span class="id">{{account.address}}</span>
                               <span
                                       class="blockchain-icon" ng-click="copyToClip(account.address)"></span>
                                </h2>
                                <strong ng-if="account.username">名称:</strong> {{account.username}}
                                <p ng-if="thisUser.publicKey==account.publicKey"><strong>公钥:</strong> {{account.publicKey}}</p>
                            </div>
                        </div>
                        <div class="close-modal" ng-click="close()"><span class="sr-only">关闭</span></div>
                    </div>
                    <div class="modal-nav">
                        <ul class="nav nav-justified nav-actions">
                            <li><a class="green-link" ng-click="sendCryptiToUser()"><i class="mdi-content-send"></i>
                                发送XCR</a></li>
                            <li  ng-if="!isUserInContactList(account.address)"><a ng-click="addContact(account.address)"><i class="mdi-social-person-add"></i> 联系人添加请求</a></li>
                        </ul>
                    </div>
                    <div class="scrolling">
                        <div class="modal-body">
                            <ul class="list-group">
                                <li class="list-group-item summary">摘要信息
                                </li>
                                <li class="list-group-item bordered">总余额<span
                                        class="pull-right small-text">{{account.unconfirmedBalance  | xcrFilter }} XCR</span>
                                </li> <li class="list-group-item">美元等值<span class="pull-right small-text">{{convertToUSD(account.unconfirmedBalance)| number: 2}}$</span>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-chapter clearfix">
                            <div class="multiline">
                                <h2>交易信息 </h2>

                                <div class="chapter-more pull-right" ng-class="{'open': transactions.view}"
                                     ng-click="toggleTransactions()">{{transactions.list.length || '0'}} 交易信息
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="transaction in transactions.list" ng-show="transactions.view">
                            <div class="modal-header"><h2>交易ID: </h2>
                                {{transaction.id}}<span class="blockchain-icon"
                                                        ng-click="copyToClip(transaction.id)"></span>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group">
                                    <li class="list-group-item bordered">确认数<span
                                            class="pull-right small-text">{{transaction.confirmations}}</span>
                                    </li>
                                    <li class="list-group-item">余额<span class="pull-right small-text">{{transaction.amount / 100000000}} XCR</span>
                                    </li>
                                    <li class="list-group-item bordered">费用<span
                                            class="pull-right small-text">{{transaction.fee / 100000000}} XCR</span>
                                    </li>
                                    <li class="list-group-item">美元等值<span
                                            class="pull-right small-text">{{convertToUSD(transaction.amount)| number: 2}}$</span>
                                    </li>
                                    <li class="list-group-item bordered">时间<span class="pull-right small-text">{{transaction.timestamp | timestampFilter}}</span>
                                    </li>
                                </ul>
                                <ul class="list-group transactions">
                                    <!-- ngRepeat: transaction in transactions -->
                                    <li class="list-group-item">
                                        <div class="transaction-data">{{transaction.id}} <span class="pull-right">{{transaction.timestamp | timestampFilter}}</span>
                                        </div>
                                        <div class="transaction-path">
                                            <div class="transaction-part pull-left"><a
                                                    ng-click="getAccountDetail(transaction.senderId)">{{transaction.senderId}}</a> <span
                                                    class="xcr">{{transaction.amount  | xcrFilter}} XCR</span>
                                            </div>
                                            <div class="transaction-direction"></div>
                                            <div class="transaction-part pull-right"><a
                                                    ng-click="getAccountDetail(transaction.recipientId)">{{transaction.recipientId
                                                || ""}}</a><span
                                                    class="xcr">{{transaction.amount  | xcrFilter}} XCR</span>
                                            </div>
                                        </div>
                                        <div class="transaction-bottom">
                                            <div class="fee">费用: {{transaction.fee | xcrFilter}} XCR
                                            </div>
                                            <div class="xcr">{{transaction.amount | xcrFilter}} XCR
                                            </div>
                                            <div class="confirmations">{{transaction.confirmations || 0 }} 确认数
                                            </div>
                                        </div>
                                    </li>
                                    <!-- end ngRepeat: transaction in transactions -->

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
